      	</div>
        <div class="footer point__follow box--primary">
            <div class="wrap">
                <p>Find me on <a href="http://twitter.com/djmarland">Twitter (@djmarland)</a></p>
                <p><span class="text--subtle">&copy; {{ 'now' | date: "%Y" }} David J Marland</span></p>
            </div>
        </div>
      	<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-24417125-1');ga('send','pageview');
        </script>
        <!--<script src="/assets/js/bootstrap.js"></script>-->
    </body>
</html>