<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>David J Marland | Web developer</title>
        <meta name="description" content="Semantic, progressive, responsive and responsible Web developer with skills in HTML, CSS, JavaScript &amp; PHP">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-square150x150logo" content="/apple-touch-icon-precomposed.png" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css' />
        <link href='/assets/styles/main.css' rel='stylesheet' type='text/css' />
        <link rel="icon" sizes="196x196" href="/apple-touch-icon-precomposed.png" />

    </head>
    <body>
    	<header>
            <div class="header">
                <div class="wrap">

                    <p class="header__text"><a class="header__link" href="/">David J Marland</a></p>
                    <nav>
                        <div class="nav">
                            <ul>
                                <li><a href="/">About</a></li>
                                <li><a href="/posts">Posts</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">